.pic {
  width: 250px;
}
.project-container {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  width: 100%;
}
.project-details {
  display: flex;
  justify-content: space-between;
}
.anchor {
  text-decoration: none;
  color: #0967d2;
  font-family: 'Roboto';
}
